{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-lg-6">
        <h4>SB 1: Financial Information Privacy Law</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin 
        blandit dictum eleifend. Lorem ipsum dolor sit amet, consectetur 
        adipiscing elit.</p>
        <p><a href="TODO" class="btn btn-primary">See history &raquo;</a></p>
    </div><!--/.col-lg-6-->

    <div class="col-lg-6">
        <h4>SB 27: "Shine the Light" Law</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin 
        blandit dictum eleifend. Lorem ipsum dolor sit amet, consectetur 
        adipiscing elit.</p>
        <p><a href="TODO" class="btn btn-primary">See history &raquo;</a></p>
    </div><!--/.col-lg-6-->

</div><!--/.row-->

{% endblock content %}

