{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-lg-6">
        <h4>SB 1: Financial Information Privacy Law</h4>
        <p>Sed in nisl at est pellentesque posuere pharetra eget nisl. Cras in condimentum ligula. Proin pellentesque, massa eu ultricies lobortis, magna libero auctor lorem, eu adipiscing urna est ut magna. Duis interdum enim auctor sem porta a pretium magna auctor. Duis eget diam a nisi iaculis molestie. Ut porta eros lacus, sit amet elementum arcu.</p>
        <p><a href="TODO" class="btn btn-primary">See history &raquo;</a></p>
    </div><!--/.col-lg-6-->

    <div class="col-lg-6">
        <h4>SB 27: "Shine the Light" Law</h4>
        <p>Donec accumsan enim eget libero faucibus auctor. Morbi luctus lorem eget tortor gravida condimentum. Vestibulum quis nulla nec enim porta venenatis in in erat. Maecenas elit diam, sollicitudin sed posuere quis, adipiscing vel nisl. Ut at urna dapibus augue condimentum rutrum.</p>
        <p><a href="TODO" class="btn btn-primary">See history &raquo;</a></p>
    </div><!--/.col-lg-6-->

</div><!--/.row-->

{% endblock content %}

